@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

html,body{
  font-size: .938rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Exo', sans-serif;
  background-color: hsl(180, 7%, 5%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}