:root{
  --body-font: 'Exo', sans-serif;  
  --container-color: hsl(219, 4%, 7%);
  --text-color: hsl(219, 8%, 75%);
}

header{
  position: fixed;
  top: 0%;
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--container-color);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color);
}

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.carousel-container {
  width: 100%;
  max-width: 1000px;
  max-height: 400px;
  overflow: hidden; /* pour cacher les images qui dépassent la hauteur maximale */
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-wrapper {
  position: absolute;
  display: flex;
  max-width: 40%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.carousel-image {
  flex: 1 0 100%;
  object-fit: cover;
  height: 100%;
}

.prev-button,
.next-button {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.barre-blanche {
  height: 10px;
  background-color: #ff0000;
}

.information{
  font-family: var(--body-font);
}

.calendar {
  height: 50%;
  width: 70%;
  overflow-y: auto; /* pour ajouter une barre de défilement vertical si nécessaire */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background: #1d1c1c;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.month {
  padding: 20px 20px 10px;
  text-align: center;
  background: #333333;
  color: #272323;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.month ul li {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
}

.weekdays li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.28%;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.days {
  padding: 10px;
  background: #404040;
  display: flex;
  flex-wrap: wrap;
}

.days li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.28%;
  padding: 10px 0;
  margin-bottom: 10px;
  height: 80px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background-color: #292929;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  flex-wrap: wrap;
}


.days li:hover {
  background-color: #333333;
}

.today {
  background-color: #ff4d4d;
  color: #ffffff;
}

.selected {
  background-color: #4d4dff;
  color: #ffffff;
}

.next, .prev {
  cursor: pointer;
}

.fa-chevron-left, .fa-chevron-right {
  color: #ffffff;
  font-size: 20px;
}

.day-box {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.day-box__number {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.day-box__events {
  display: flex;
  flex-direction: column;
}

.event {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;
}
